.container {
  position: absolute;
  top: 20%;
}

#login_text {
width:180px; 
margin: 0 auto;
padding : 50px 20px 0 0;
font-size:40px;
left: 22%;
position: relative;
}

.logo {
	position: relative;
	left: 55%;
}

#id_text {
	font-size: 22px;
	width:375px;
	float: left;
}

#write_id {
	float: left;
	margin:0 20px 0 600px;
}


#pw_text {
	font-size: 22px;
	width:375px;
	float: left;
}

#write_pw {
	float: left;
	margin:0 20px 0 580px;
}

#pw2_text {
	font-size: 22px;
	width:376px;
	float: left;
}

#write_pw2 {
	float: left;
	margin:0 18px 0 535px;
}

#pw_btn {
	float: left;
	margin:0 0 0 10px;
}



#email_text {
	float: left;
	left: 59%;
	top:15px;
	font-size: 22px;
	width:455px;
}

#write_email {
	float: left;
	margin:0 20px 0 600px;
}

#email_at_sign {
	float: left;
	margin: 0 10px 0 0;
}

#email_select {
	float: left;
	font-size: 22px;
}

#id_btn {
	float: left;
	margin: 0 0 0 10px;
}

#email_btn {
	float: left;
	margin: 0 0 0 10px;
}

#id_link_search {
	margin : 10px 53px 0 300px;
    float: left;
    width:150px;
    box-sizing: border-box;
    color: black;
    left: 298px;
    position: relative;
}

#pw_link_search {
	margin : 10px 0 0 0;
    float: left;
    width:130px;
    box-sizing: border-box;
    color: black;
    left: 260px;
    position: relative;
}

#warning1 {
	float: right;
	margin : 0 88px 0 0;
}

#text_warning1 {
	font-size: 13px;
	color: red;
}

.search_container {
	width: 90%;
    margin: 10px auto;
    display: flex;
}

#login_btn {
	position: relative;
	left: 59%;
	font-size: 22px;
	width:12em;
	top: 20px;
}

#online_account {
	margin : 30px 60px 0 652px;
    float: left;
    width:150px;
    box-sizing: border-box;
    color: black;
}

#join {
	margin : 13px 0 0 -6px;
    float: left;
    width:130px;
    box-sizing: border-box;
}
